 .u-section-1 {
  background-image: url("images/banner.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 716px;
}

.u-section-1 .u-group-1 {
  width: 505px;
  min-height: 472px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 0px;
  margin: 60px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-1 .u-text-3 {
  font-style: italic;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 3px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 36px auto 0 0;
  padding: 20px 47px 20px 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-group-1 {
    width: 470px;
    margin-bottom: 58px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 100% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    min-height: 424px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 55.24% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-1 .u-group-1 {
    width: 308px;
    min-height: 428px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 46.89% 51.62%;
    background-size: auto 110%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-group-1 {
    width: 252px;
    margin-top: 27px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 11px;
  }

  .u-section-1 .u-btn-2 {
    padding-left: 32px;
    padding-right: 32px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 432px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 60px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, 25%);
  min-height: 312px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.4;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.4;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.4;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-icon-4 {
  height: 64px;
  width: 64px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1.4;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0;
}

.u-section-2 .u-text-8 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 257px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 711px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 591px;
    grid-template-columns: repeat(2, 50%);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 700px;
}

.u-section-3 .u-shape-1 {
  height: 271px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: -185px auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 529px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  text-align: left;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  background-image: none;
  margin: 37px auto 0 0;
  padding: 20px 47px 20px 46px;
}

.u-section-3 .u-image-1 {
  min-height: 529px;
  background-image: url("images/big-logo2.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 0 30px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 588px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-3 .u-image-1 {
    min-height: 436px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 464px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 334px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 766px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-image-1 {
    min-height: 501px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 542px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    min-height: 315px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 777px;
}

.u-section-4 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 3rem;
  text-transform: none;
  text-decoration: none solid rgb(12, 66, 101);
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  width: 772px;
  margin: 48px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 547px;
  grid-gap: 10px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  line-height: 1.8;
  font-weight: 600;
  margin: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  line-height: 1.8;
  font-weight: 600;
  margin: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  line-height: 1.8;
  font-weight: 600;
  margin: 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-5 {
  line-height: 1.8;
  font-weight: 600;
  margin: 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1143px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  width: 711px;
  margin: 30px auto 0;
}

.u-section-5 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  min-height: 664px;
  grid-gap: 22px;
}

.u-section-5 .u-list-item-1 {
  --radius: 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 24px;
}

.u-section-5 .u-image-1 {
  width: 133px;
  height: 133px;
  background-image: url("images/c461c07a441a5d220e8feb1a/689ce6d1eab65cd2bce35637/ec6da3db-d4a7-cbc8-c959-57cb2f78738d.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 2px 0;
}

.u-section-5 .u-text-4 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 14px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  --radius: 10px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 24px;
}

.u-section-5 .u-image-2 {
  width: 133px;
  height: 133px;
  background-image: url("images/c461c07a441a5d220e8feb1a/6502d958546d55698e946648/tyty.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 2px 0;
}

.u-section-5 .u-text-7 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 14px auto 0;
}

.u-section-5 .u-text-8 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  --radius: 10px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 24px;
}

.u-section-5 .u-image-3 {
  width: 133px;
  height: 133px;
  background-image: url("images/c461c07a441a5d220e8feb1a/fdeea1f156df50479da23133/ggggefe2.jpg?version=");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 2px 0;
}

.u-section-5 .u-text-10 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 14px auto 0;
}

.u-section-5 .u-text-11 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-4 {
  --radius: 10px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 24px;
}

.u-section-5 .u-image-4 {
  width: 133px;
  height: 133px;
  background-image: url("images/c461c07a441a5d220e8feb1a/c09014f9e7715438bb869fbb/ds.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-12 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 2px 0;
}

.u-section-5 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 14px auto 0;
}

.u-section-5 .u-text-14 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-5 {
  --radius: 10px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 24px;
}

.u-section-5 .u-image-5 {
  width: 133px;
  height: 133px;
  background-image: url("images/c461c07a441a5d220e8feb1a/980d881d762859b98207594a/hgghgh.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-15 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 2px 0;
}

.u-section-5 .u-text-16 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 14px auto 0;
}

.u-section-5 .u-text-17 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-6 {
  --radius: 10px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 24px;
}

.u-section-5 .u-image-6 {
  width: 133px;
  height: 133px;
  background-image: url("images/c461c07a441a5d220e8feb1a/2842f4a1f0a85a0f9b26dca7/bfc62dcf-11dc-f72c-9f80-d5d6784457fc.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-18 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 2px 0;
}

.u-section-5 .u-text-19 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 14px auto 0;
}

.u-section-5 .u-text-20 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-7 {
  --radius: 10px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px 24px;
}

.u-section-5 .u-image-7 {
  width: 133px;
  height: 133px;
  background-image: url("images/c461c07a441a5d220e8feb1a/8f50f8f477045e67912b69a9/trtrrt.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-21 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 2px 0;
}

.u-section-5 .u-text-22 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 14px auto 0;
}

.u-section-5 .u-text-23 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-8 {
  --radius: 10px;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px 24px;
}

.u-section-5 .u-image-8 {
  width: 133px;
  height: 133px;
  background-image: url("images/c461c07a441a5d220e8feb1a/088290d888cd5735bc11af87/tytyt54.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-5 .u-text-24 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 2px 0;
}

.u-section-5 .u-text-25 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 14px auto 0;
}

.u-section-5 .u-text-26 {
  font-size: 0.875rem;
  margin: 20px 0 0;
}

.u-section-5 .u-text-27 {
  margin: 35px auto 60px;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    min-height: 544px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 1734px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }
} .u-section-6 {
  min-height: 702px;
}

.u-section-6 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 702px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  margin: 0;
}

.u-section-6 .u-text-2 {
  line-height: 1.8;
  margin: 25px 0 0;
}

.u-section-6 .u-text-3 {
  margin: 25px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 20px 47px 20px 46px;
}

.u-section-6 .u-image-1 {
  min-height: 702px;
  background-image: url("images/payment.webp");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 579px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 579px;
  }

  .u-section-6 .u-btn-2 {
    border-style: none;
  }

  .u-section-6 .u-image-1 {
    min-height: 579px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 860px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 687px;
    background-position: 26.97% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 670px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 50px 50px 60px;
  }

  .u-section-6 .u-image-1 {
    min-height: 570px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-6 {
    min-height: 459px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
  }

  .u-section-6 .u-btn-2 {
    padding-left: 32px;
    padding-right: 32px;
  }

  .u-section-6 .u-image-1 {
    min-height: 359px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 551px;
}

.u-section-7 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-7 .u-list-1 {
  margin-top: 42px;
  margin-bottom: 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 326px;
  grid-gap: 30px;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px;
}

.u-section-7 .u-shape-1 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-2 {
  line-height: 1.8;
  margin: -50px 1px 0 80px;
}

.u-section-7 .u-container-layout-2 {
  padding: 20px;
}

.u-section-7 .u-shape-2 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  line-height: 1.8;
  margin: -50px 1px 0 80px;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px;
}

.u-section-7 .u-shape-3 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-4 {
  line-height: 1.8;
  margin: -50px 1px 0 80px;
}

.u-section-7 .u-container-layout-4 {
  padding: 20px;
}

.u-section-7 .u-shape-4 {
  width: 50px;
  height: 50px;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-5 {
  line-height: 1.8;
  margin: -50px 1px 0 80px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 269px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 81px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 81px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 81px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 81px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 874px;
  }

  .u-section-7 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-7 .u-shape-1 {
    margin-left: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-shape-2 {
    margin-left: auto;
  }

  .u-section-7 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-shape-3 {
    margin-left: auto;
  }

  .u-section-7 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-7 .u-shape-4 {
    margin-left: auto;
  }

  .u-section-7 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 551px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 750px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 630px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-group-1 {
  width: 470px;
  min-height: 506px;
  margin: 0 auto;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-icon-1 {
  width: 64px;
  margin: 0 auto 0 0;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-8 .u-image-1 {
  width: 64px;
  height: 64px;
  background-image: url("images/thumbs/c461c07a441a5d220e8feb1a/d071f361765b573dbc08ac6c/1222_150.jpg");
  background-position: 50% 50%;
  margin: 30px 346px 0 0;
}

.u-section-8 .u-text-2 {
  font-weight: 400;
  margin: -45px 0 19px 84px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 630px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  margin: 0;
}

.u-section-8 .u-text-4 {
  font-size: 1.25rem;
  line-height: 1.8;
  font-weight: 300;
  margin: 29px 0 0;
}

.u-section-8 .u-text-5 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  line-height: 1.8;
  text-transform: none;
  margin: 29px 1px 0 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-8 .u-social-icons-1 {
  height: 27px;
  min-height: 16px;
  width: 168px;
  min-width: 124px;
  white-space: nowrap;
  margin: 40px auto 0 0;
}

.u-section-8 .u-icon-2 {
  height: 100%;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

.u-section-8 .u-icon-4 {
  height: 100%;
}

.u-section-8 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 673px;
  }

  .u-section-8 .u-group-1 {
    min-height: 558px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-image-1 {
    margin-right: 286px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: -64px;
    margin-bottom: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 673px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 503px;
  }

  .u-section-8 .u-group-1 {
    min-height: 425px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    margin-right: 176px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -45px;
    margin-right: 173px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-bottom: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-layout-cell-1 {
    min-height: 613px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-group-1 {
    min-height: 511px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.125rem;
  }

  .u-section-8 .u-text-2 {
    margin-top: -64px;
    margin-bottom: 0;
    margin-left: 88px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 684px;
}

.u-section-9 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 57px;
  margin-bottom: 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 18.6667px));
  min-height: 520px;
  grid-gap: 28px;
}

.u-section-9 .u-list-item-1 {
  background-image: none;
  --radius: 10px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0 0 20px;
}

.u-section-9 .u-image-1 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 100%;
  --radius: 10px;
}

.u-section-9 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 18px 0;
}

.u-section-9 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-9 .u-list-item-2 {
  background-image: none;
  --radius: 10px;
}

.u-section-9 .u-container-layout-2 {
  padding: 0 0 20px;
}

.u-section-9 .u-image-2 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 10px;
}

.u-section-9 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 18px 0;
}

.u-section-9 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-9 .u-list-item-3 {
  background-image: none;
  --radius: 10px;
}

.u-section-9 .u-container-layout-3 {
  padding: 0 0 20px;
}

.u-section-9 .u-image-3 {
  height: 274px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 10px;
}

.u-section-9 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-9 .u-text-6 {
  margin: 20px 18px 0;
}

.u-section-9 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-9 .u-text-7 {
  text-align: left;
  font-size: 1rem;
  font-weight: 400;
  margin: 25px auto 57px;
}

.u-section-9 .u-btn-4 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-9 .u-list-1 {
    margin-top: 60px;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 472px;
  }

  .u-section-9 .u-image-1 {
    height: 226px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-9 .u-btn-1 {
    border-style: none none solid;
  }

  .u-section-9 .u-image-2 {
    height: 226px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-9 .u-btn-2 {
    border-style: none none solid;
  }

  .u-section-9 .u-image-3 {
    height: 226px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-9 .u-btn-3 {
    border-style: none none solid;
  }

  .u-section-9 .u-text-7 {
    width: auto;
    margin-bottom: 60px;
  }

  .u-section-9 .u-btn-4 {
    border-style: none none solid;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 14.000024999999999px));
    min-height: 1085px;
  }

  .u-section-9 .u-image-1 {
    height: 260px;
  }

  .u-section-9 .u-image-2 {
    height: 260px;
  }

  .u-section-9 .u-image-3 {
    height: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-image-1 {
    height: 390px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-9 .u-image-2 {
    height: 390px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-9 .u-image-3 {
    height: 390px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-image-1 {
    height: 246px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-9 .u-image-2 {
    height: 246px;
  }

  .u-section-9 .u-text-4 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-9 .u-image-3 {
    height: 246px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 20px;
    margin-right: 20px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 750px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
}

.u-section-10 .u-image-1 {
  min-height: 630px;
  background-image: url("images/c461c07a441a5d220e8feb1a/a4812e778b27546e88676d85/vbbvvb.jpg");
  background-position: 50% 50%;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 630px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-group-1 {
  width: 470px;
  min-height: 506px;
  margin: 0 auto;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-text-1 {
  margin: 0;
}

.u-section-10 .u-text-2 {
  font-size: 1.5rem;
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-10 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-left: initial;
  }

  .u-section-10 .u-image-1 {
    min-height: 673px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 673px;
  }

  .u-section-10 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-10 .u-image-1 {
    min-height: 795px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 503px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-1 {
    min-height: 596px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 566px;
  }

  .u-section-10 .u-group-1 {
    min-height: 452px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-1 {
    min-height: 375px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 518px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-group-1 {
    min-height: 408px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-text-2 {
    font-size: 1.125rem;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 492px;
}

.u-section-11 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-11 .u-text-2 {
  font-style: italic;
  width: 864px;
  margin: 20px auto 0;
}

.u-section-11 .u-accordion-1 {
  margin-bottom: 60px;
  margin-top: 30px;
}

.u-section-11 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-11 .u-icon-1 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-11 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
}

.u-section-11 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-11 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-11 .u-icon-2 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-11 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-11 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-11 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  padding: 25px 30px;
}

.u-section-11 .u-icon-3 {
  height: 17px;
  width: 17px;
  color: rgb(0, 0, 0) !important;
}

.u-section-11 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-11 .u-container-layout-3 {
  padding: 20px 30px;
}

@media (max-width: 991px) {
  .u-section-11 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-text-2 {
    width: 540px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-2 {
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 500px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 296px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 558px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: -56px;
  margin-bottom: 60px;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 569px;
  background-image: none;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px;
}

.u-section-13 .u-list-1 {
  width: 459px;
  margin: 0 auto;
}

.u-section-13 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 387px;
  grid-gap: 0px;
}

.u-section-13 .u-list-item-1 {
  background-image: none;
}

.u-section-13 .u-container-layout-2 {
  padding: 20px 30px 15px;
}

.u-section-13 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-13 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-13 .u-list-item-2 {
  background-image: none;
}

.u-section-13 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-13 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-13 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-13 .u-list-item-3 {
  background-image: none;
}

.u-section-13 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-13 .u-icon-3 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-13 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  margin: -22px 1px 0 40px;
}

.u-section-13 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 569px;
  background-image: none;
  --radius: 10px;
}

.u-section-13 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 30px;
}

.u-section-13 .u-text-7 {
  margin: 0 auto;
}

.u-section-13 .u-form-1 {
  height: 375px;
  width: 450px;
  margin: 33px auto 0;
}

.u-section-13 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  background-image: none;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 469px;
  }

  .u-section-13 .u-list-1 {
    width: 397px;
  }

  .u-section-13 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-13 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-3 {
    width: auto;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-13 .u-text-4 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 48px;
  }

  .u-section-13 .u-text-6 {
    width: auto;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 469px;
  }

  .u-section-13 .u-form-1 {
    width: 397px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-13 .u-list-1 {
    width: 287px;
  }

  .u-section-13 .u-text-1 {
    margin-top: -16px;
    margin-left: 52px;
  }

  .u-section-13 .u-text-2 {
    margin-top: 8px;
  }

  .u-section-13 .u-text-3 {
    margin-top: -16px;
    margin-left: 52px;
  }

  .u-section-13 .u-text-4 {
    margin-top: 8px;
  }

  .u-section-13 .u-text-5 {
    margin-top: -16px;
    margin-left: 52px;
  }

  .u-section-13 .u-text-6 {
    margin-top: 8px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-13 .u-form-1 {
    width: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 189px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-list-1 {
    width: 361px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-text-1 {
    margin-top: -22px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-text-3 {
    margin-top: -22px;
  }

  .u-section-13 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-text-5 {
    margin-top: -22px;
  }

  .u-section-13 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-13 .u-form-1 {
    height: 371px;
    width: 387px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-list-1 {
    width: 320px;
  }

  .u-section-13 .u-text-1 {
    margin-left: 43px;
  }

  .u-section-13 .u-text-2 {
    margin-top: 19px;
  }

  .u-section-13 .u-text-3 {
    margin-left: 43px;
  }

  .u-section-13 .u-text-4 {
    margin-top: 19px;
  }

  .u-section-13 .u-text-5 {
    margin-left: 43px;
  }

  .u-section-13 .u-text-6 {
    margin-top: 19px;
  }

  .u-section-13 .u-form-1 {
    width: 320px;
  }
}